@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3&display=swap");

.footer {
  background-color: #242424;
  height: 5vh;
  font-family: "Source Sans 3", sans-serif;
  width: 100%;
}
.footer p {
  color: white;
  text-align: center;
  padding-top: 5px;
}
