@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3&display=swap");
.navbar {
  background-color: #0ea293;
  height: 75px;
}
.navbar nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 75px;
}
.nav-logo p {
  color: #fff36d;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 25px;
}
.nav-links ul li {
  margin-left: 30px;
  display: inline-block;
  cursor: pointer;
  list-style: none;
  font-family: "Source Sans 3", sans-serif;
  transition: color 0.2s ease-out;
  font-size: 18px;
}
.nav-links ul li:hover {
  color: #f5f3c1;
}
.nav-button button {
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100px;
  height: 35px;
  font-size: 17px;
  font-family: "Source Sans 3", sans-serif;
  background-color: #f5f3c1;
  transition: background-color 0.3s ease;
}
.nav-button button:hover {
  background-color: #0ea293;
  border: 2px solid #f5f3c1;
  color: #f5f3c1;
}
